html, body {
  background: #282a2e;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
}

main {
  padding: 80px 20px;
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
  @media screen and (min-width:1000px) {
    padding-top: 180px;
    margin-left: 100px;
  }
  > h1 {
    font-weight: 400;
  }
  > img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
  > .cn-caption {
    opacity: .8;
  }
  hr {
    width: 40px;
    height: 3px;
    border: none;
    background: #fff;
    margin: 5em 0;
  }
  #more {
    p {
      font-size: 130%;
      margin-bottom: 0;
    }
  }
  #links {
    padding: 0;
    display: inline-block;
    @media (max-width: 768px) {
      width: 100%;
    }
    &:hover {
      li {
        opacity: .3;
      }
    }
    li {
      display: inline-block;
      list-style-type: none;
      opacity: .5;
      transition: all .3s;
      margin-left: 0;
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        opacity: 1;
      }
      @media (max-width: 768px) {
        & {
          width: 40%;
          margin: 4px 4%;
          line-height: 40px;
          opacity: 1;
        }
        a {
          display: inline-block;
          width: 100%;
          text-align: center;
          height: 40px;
          line-height: 40px;
          background: #2f82e4;
          .site-logos {
            height: 15px;
          }
        }
      }
      @media (min-width: 768px) {
        .site-logos {
          height: 30px;
        }
      }
      > #links-bilibili {
        svg:last-child {
          margin-left: -5px;
        }
      }
    }
  }
  footer {
    margin-top: 3em;
  }
}
